.container {
    padding: .5rem 2%;
  }
  
  .table {
    border: 1px solid #eee;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #dedede;
    padding: .5em;
    text-align: center;
  }
  